<div class="container-fluid">
            <div class="row project-active">
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-2.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-1.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-5.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum & Chandelier Light Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-8.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Wallpaper Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-36.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Gypsum Tv Stand Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-38.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling, Chandelier Light & Gypsum Tv Stand Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-39.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-40.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-41.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Wall Gypsum & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-24.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-30.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Fitting & General Construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-31.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Tv Stand Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-35.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Textured Painting</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-32.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Tv Stand Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-43.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Branding</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-44.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Branding</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-45.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Branding</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-46.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Branding</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-42.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-4.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Textured Paint Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-28.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling, Wall Gypsum & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-23.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-34.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Lighting Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-25.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-26.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-27.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Ceiling & Gypsum Tv Stand Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-29.jpg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Gypsum Fitting & General Construction</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-11.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Wallpaper Installation</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-project">
                        <div class="project-image">
                            <img src="{% static 'website/assets/images/project/p-7.jpeg' %}" alt="Project">
                        </div>
                        <div class="project-content">
                            <a class="project-title" href="#project">Home Exterior Design</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>